<!-- puts "user input params??"
applies stupid coaching logic
returns appropriate stupid coaching response -->

<p><%= @your_message %></p>
<p><%= @answer %></p>
<%= link_to 'Ask a new question', ask_path %>


